*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
    scroll-behavior:smooth;
}

body{
    background: #111;
    color: rgb(255, 255, 255);
}




header{
position:fixed;
width:100%;
background:#222;
padding:15px;
z-index:1000;
}

nav{
display:flex;
justify-content:space-between;
align-items:center;
width:90%;
margin:auto;
}

nav ul{
display:flex;
list-style:none;
}

nav ul li{
margin-left:25px;
}

nav ul li a{
text-decoration:none;
color:rgb(255, 255, 255);
transition:.3s;
}

nav ul li a:hover{
color:#00b894;
transition: 0.5s;
font-size: 17px;
}



.hero{
    height: 90vh;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    
   
}

.hero h1{
    font-size: 50px;
}

.hero span{
    color:#00b894;
}

.hero h3{
    margin: 15px 0;
}

.hero p{
    width: 60%;
    margin: auto;
}

.btn,.btn2{
display:inline-block;
margin-top:20px;
padding:12px 25px;
background:#00b894;
color:white;
text-decoration:none;
border-radius:5px;
margin-right:10px;
transition:.3s;
}

.btn:hover,.btn2:hover{
transform:scale(1.08);
color: #000;
}   
   

section{
    padding: 80px 10%;
    text-align: center;
}

section h2{
text-align:center;
margin-bottom:30px;
font-size:35px;

}

.cards{
    display:flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 20px;
    margin-top: 30px;
}

.card{
    width: 250px;
    padding: 25px;
    background: #222;
    border-radius:10px ;
    transition: .3s;
}

.card h3{
    color: #00b894;
}

.card:hover{
    h3{color: #000;}
    
}

.card:hover{
    transform: translateY(-10px);
    background:  #00b894;
    color:rgb(0, 0, 0);
}

footer{
    background: black;
    text-align: center;
    padding: 20px;
}

@media(max-width:76px){
    .nav-links{
        display: none;
    }

    .hero h1{
           font-size: 35px;
    }

    .hero p{
        width: 100%;
    }

    .cards{
        flex-direction: column;
        align-items: center;
    }
}


#home-img img{
    width: 350px;
    height: 350px;
    border-radius: 50%;
    object-fit: cover;
    border: 5px solid  #00b894;
    box-shadow: 0 0 30px  #00b894;
    position: absolute;
    top: 230px;
    left: 1050px;
}

.contactlink{

    text-decoration:none;
    color: white;
}

.contactlink:hover{
    color: #00b894;
    font-size: 17px;
    transition: 0.3s;
}

#soicallink{
    font-size:30px;
    color:#00b894;
    margin:15px;
    transition:.3s;
}

#soicallink:hover{
    color:#ffffff;
    
}

.animated-rainbow{
    background-image: linear-gradient(to right, red, orange,yellow,green, blue, violet, red );
    background-size: 200% auto;
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
    color: transparent;
}


.skill-card{
    width:250px;
    padding:20px;
    margin:20px;
    background:#1f1f1f;
    border-radius:12px;
    color:#00b894;
    text-align:center;
    cursor:pointer;
    transition:.3s;
}

.skill-card:hover{
    transform:translateY(-8px);
    box-shadow:0 0 20px #00b894;

}

.progress{
    width:100%;
    height:10px;
    background:#444;
    border-radius:10px;

    margin-top:15px;

    opacity:0;
    transform:translateY(10px);
    transition:.4s;
}

.skill-card:hover .progress{
    opacity:1;
    transform:translateY(0);
}

.progress-bar{
    height:100%;
    border-radius:10px;
    background:#00b894;
    text-align:right;
    color:rgb(0, 0, 0);
    font-size:10px;
    line-height:10px;
}

.html{
    width:95%;
}

.css{
    width:90%;
}

.js{
    width:20%;
}

.java{
    width:70%;
}

.dsa{
    width:30%;
}

.git{
   width: 85% ;
}

.github{
    width:45%;
}



#about{
    padding:80px 10%;
    background:#111;
    color:#fff;
}

.heading{
    text-align:center;
    font-size:45px;
    margin-bottom:50px;
}

.heading span{
    color:#00d9a5;
}

.about-container{
    display:flex;
    gap:40px;
    flex-wrap:wrap;
}

.about-card{
    width:300px;
    background:#1b1b1b;
    padding:30px;
    border-radius:15px;
    text-align:center;
    transition:.3s;
}

.about-card:hover{
    transform:translateY(-8px);
    box-shadow:0 0 20px #00d9a5;
}

.about-card img{
    width:180px;
    height:180px;
    border-radius:50%;
    border:4px solid #00d9a5;
    margin-bottom:20px;
}

.about-card h3{
    font-size:28px;
}

.about-card p{
    color:#bbb;
}

.info{
    margin:25px 0;
    text-align:left;
    line-height:2;
}

.btn{
    display:inline-block;
    margin-top:10px;
    padding:12px 25px;
    background:#00d9a5;
    color:#111;
    text-decoration:none;
    border-radius:30px;
    font-weight:bold;
    transition:.3s;
}

.btn:hover{
    background:#fff;
}

.about-content{
    flex:1;
}

.box{
    background:#1b1b1b;
    padding:25px;
    margin-bottom:20px;
    border-radius:15px;
    transition:.3s;
}

.box:hover{
    box-shadow:0 0 20px rgba(0,217,165,.4);
}

.box h3{
    color:#00d9a5;
    margin-bottom:15px;
}

.box p,
.box li{
    color:#ddd;
    line-height:1.8;
}

.box ul{
    padding-left:20px;
}

.stats{
    display:grid;
    grid-template-columns:repeat(4,1fr);
    gap:20px;
    margin-top:20px;
}

.stat-card{
    background:#1b1b1b;
    text-align:center;
    padding:20px;
    border-radius:15px;
    transition:.3s;
}

.stat-card:hover{
    transform:translateY(-8px);
    box-shadow:0 0 20px #00d9a5;
}

.stat-card h2{
    color:#00d9a5;
    font-size:32px;
}

.stat-card span{
    color:#ccc;
}

@media(max-width:768px){

.about-container{
    flex-direction:column;
    align-items:center;
}

.stats{
    grid-template-columns:repeat(2,1fr);
}

.about-card{
    width:100%;
}

}